.top_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #276678;

}

.top_header nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin: 15px;
}

.top_header nav ul li a {
    color: #F6F5F5;
}
body {
    background-color: #F6F5F5 ;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#roles {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#tarjetas {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tarjeta {
    display: flex;
    border: solid black;
    border-radius: 10px;
    height: 240px;
    width: 180px;
    background-color: #276678;
    justify-content: center;
    color: #F6F5F5;
}

a{
    color: #F6F5F5;
    text-decoration: none;
}
#seccionLogin {
    display: flex;
    background-color: rgb(217, 230, 174);
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    margin: 0 auto;
}
.login {
    display:flex;
    background-color: beige;
    flex-direction: column;
    padding: 5px;
}
.seccionCredenciales {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: solid black 2px; 
    background-color: rgb(176, 173, 173);
    box-sizing: border-box;
    padding: 20px;
    margin: 30vh;
    width: 40%;
}
.cuerpo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tablero_partidos {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
    margin: 50px;
    gap: 10px
}
.partido{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid  #276678 3px;
    padding: 6px;
    border-radius: 5px;
    width: 360px;
    height: 400px;
}
.info_general{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.info_general p{
    margin: 1px;
}