#seccionLogin {
    display: flex;
    background-color: rgb(217, 230, 174);
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    margin: 0 auto;
}

.login {
    display:flex;
    background-color: beige;
    flex-direction: column;
    padding: 5px;
}
#Encabezado {
    display: flex;
    background-color: gray;
    width: 100%;
    color: rgb(57, 57, 142)
}
.seccionCredenciales {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: solid black 2px; 
    background-color: grey;
    box-sizing: border-box;
    padding: 20px;
    margin: 30vh;
    width: 40%;
}
.cuerpo{
    display: flex;
    align-items: center;
    justify-content: center;
}